# Using Python for Research Homework: Week 3, Case Study 2

In this case study, we will find and plot the distribution of word frequencies for each translation of Hamlet.  Perhaps the distribution of word frequencies of Hamlet depends on the translation --- let's find out!

In [1]:
# DO NOT EDIT THIS CODE!
import os
import pandas as pd
import numpy as np
from collections import Counter

def count_words_fast(text):
    text = text.lower()
    skips = [".", ",", ";", ":", "'", '"', "\n", "!", "?", "(", ")"]
    for ch in skips:
        text = text.replace(ch, "")
    word_counts = Counter(text.split(" "))
    return word_counts

def read_book(title_path):
    text   = pd.read_csv(title_path, sep = "\n", engine='python', encoding="utf8")
    text = text.to_string(index = False)
    return text

def word_stats(word_counts):
    num_unique = len(word_counts)
    counts = word_counts.values()
    return (num_unique, counts)

### Exercise 1 

In this case study, we will find and visualize summary statistics of the text of different translations of Hamlet. For this case study, functions `count_words_fast`, `read_book`, and `word_stats` are already defined as in the Case 2 Videos (Videos 3.2.x).

#### Instructions 
- Read in the data as a pandas dataframe using `pd.read_csv`. The data can be found at https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@hamlets.csv

In [114]:
hamlets = pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@hamlets.csv")
hamlets.columns
hamlets.columns[0]
del hamlets[hamlets.columns[0]]

### Exercise 2 

In this exercise, we will summarize the text for a single translation of Hamlet in a `pandas` dataframe. 

#### Instructions
- Find the dictionary of word frequency in `text` by calling `count_words_fast()`. Store this as `counted_text`.
- Create a `pandas` dataframe named `data`.
- Using `counted_text`, define two columns in data:
    - `word`, consisting of each unique word in text.
    - `count`, consisting of the number of times each word in `word` is included in the text.

In [75]:
language, text = hamlets.iloc[0]

# Enter your code here.
counted_text = count_words_fast(text)
data = pd.DataFrame()
data["word"] = Counter.keys(counted_text)
data["count"] = Counter.values(counted_text)
data[data.word == "hamlet"]

     word  count
3  hamlet     97

### Exercise 3

In this exercise, we will continue to define summary statistics for a single translation of Hamlet. 

#### Instructions
- Add a column to data named `length`, defined as the length of each word.
- Add another column named `frequency`, which is defined as follows for each word in `data`:
    - If `count > 10`, `frequency` is "frequent".
    - If `1 < count <= 10`, `frequency` is "infrequent".
    - If `count == 1`, `frequency` is "unique".

In [99]:
# write your code here!
# data.insert(2, "length", [len(x) for x in data.word])
data["length"] = data["word"].apply(len)


def freq(count):
    if count > 10:
        return "frequent"
    if 1 < count <= 10:
        return "infrequent"
    else:
        return "unique"
    
    
data["frequency"] = data["count"].apply(freq)
len(data[data["frequency"] == "unique"])

              word  count  length   frequency
0              the    935       3    frequent
1         tragedie      3       8  infrequent
2               of    576       2    frequent
3           hamlet     97       6    frequent
4                   45513       0    frequent
5            actus      2       5  infrequent
6           primus      1       6      unique
7           scoena      1       6      unique
8            prima      1       5      unique
9            enter     80       5    frequent
10        barnardo      8       8  infrequent
11             and    823       3    frequent
12       francisco      1       9      unique
13             two     20       3    frequent
14       centinels      1       9      unique
15            whos      2       4  infrequent
16           there     70       5    frequent
17            fran      8       4  infrequent
18             nay     26       3    frequent
19          answer      9       6  infrequent
20              me    219       2    frequent
21           stand     15       5    frequent
22          vnfold      3       6  infrequent
23            your    235       4    frequent
24           selfe     58       5    frequent
25             bar      7       3  infrequent
26            long     17       4    frequent
27            liue     14       4    frequent
28            king    166       4    frequent
29              he    187       2    frequent
...            ...    ...     ...         ...
5083       bloudie      1       7      unique
5084   accidentall      1      11      unique
5085       casuall      1       7      unique
5086    slaughters      1      10      unique
5087        deaths      1       6      unique
5088        vpshot      1       6      unique
5089      mistooke      1       8      unique
5090     inuentors      1       9      unique
5091       noblest      1       7      unique
5092        claime      1       6      unique
5093        inuite      1       6      unique
5094      performd      1       8      unique
5095        whiles      1       6      unique
5096        mindes      1       6      unique
5097          lest      1       4      unique
5098        errors      1       6      unique
5099        happen      1       6      unique
5100     captaines      1       9      unique
5101       royally      1       7      unique
5102    souldiours      1      10      unique
5103         warre      1       5      unique
5104        lowdly      1       6      unique
5105         field      1       5      unique
5106          amis      1       4      unique
5107     souldiers      1       9      unique
5108  shooteexeunt      1      12      unique
5109      marching      1       8      unique
5110         peale      1       5      unique
5111           ord      1       3      unique
5112         finis      1       5      unique

[5113 rows x 4 columns]

### Exercise 4

In this exercise, we will summarize the statistics in data into a smaller pandas dataframe. 

#### Instructions 
- Create a `pandas` dataframe named `sub_data` including the following columns:
    - `language`, which is the language of the text.
    - `frequency`, which is a list containing the strings "frequent", "infrequent", and "unique".
    - `mean_word_length`, which is the mean word length of each value in frequency.
    - `num_words`, which is the total number of words in each frequency category.

In [203]:
# write your code here!
sub_data = pd.DataFrame()
mean_word_length = data.groupby(by="frequency").mean()["length"]
num_words = data.groupby(by="frequency").count()["count"]
sub_data["mean_word_length"] = mean_word_length
sub_data["num_words"] = num_words
sub_data["language"] = language
sub_data

            mean_word_length  num_words language
frequency
frequent            4.371517        323  English
infrequent          5.825243       1442  English
unique              7.005675       3348  English

### Exercise 5

In this exercise, we will join all the data summaries for text Hamlet translation.

#### Instructions 
- The previous code for summarizing a particular translation of Hamlet is consolidated into a single function called `summarize_text`. Create a pandas dataframe` grouped_data` consisting of the results of `summarize_text` for each translation of Hamlet in `hamlets`.
    - Use a `for` loop across the row indices of `hamlets` to assign each translation to a new row.
    - Obtain the `ith` row of `hamlets` to variables using the `.iloc` method, and assign the output to variables `language` and `text`.
    - Call `summarize_text` using `language` and `text`, and assign the output to `sub_data`.
    - Use the pandas `.append()` function to append to pandas dataframes row-wise to `grouped_data`.

In [ ]:
def summarize_text(language, text):
    counted_text = count_words_fast(text)

    data = pd.DataFrame({
        "word": list(counted_text.keys()),
        "count": list(counted_text.values())
    })
    
    data.loc[data["count"] > 10,  "frequency"] = "frequent"
    data.loc[data["count"] <= 10, "frequency"] = "infrequent"
    data.loc[data["count"] == 1,  "frequency"] = "unique"
    
    data["length"] = data["word"].apply(len)
    
    sub_data = pd.DataFrame({
        "language": language,
        "frequency": ["frequent","infrequent","unique"],
        "mean_word_length": data.groupby(by = "frequency")["length"].mean(),
        "num_words": data.groupby(by = "frequency").size()
    })
    
    return(sub_data)
    
# write your code here!

### Exercise 6

In this exercise, we will plot our results and look for differences across each translation.

#### Instructions 
- Plot the word statistics of each translations on a single plot. Note that we have already done most of the work for you.
- Consider: do the word statistics differ by translation?

In [ ]:
colors = {"Portuguese": "green", "English": "blue", "German": "red"}
markers = {"frequent": "o","infrequent": "s", "unique": "^"}
import matplotlib.pyplot as plt
for i in range(grouped_data.shape[0]):
    row = grouped_data.iloc[i]
    plt.plot(row.mean_word_length, row.num_words,
        marker=markers[row.frequency],
        color = colors[row.language],
        markersize = 10
    )

color_legend = []
marker_legend = []
for color in colors:
    color_legend.append(
        plt.plot([], [],
        color=colors[color],
        marker="o",
        label = color, markersize = 10, linestyle="None")
    )
for marker in markers:
    marker_legend.append(
        plt.plot([], [],
        color="k",
        marker=markers[marker],
        label = marker, markersize = 10, linestyle="None")
    )
plt.legend(numpoints=1, loc = "upper left")

plt.xlabel("Mean Word Length")
plt.ylabel("Number of Words")
# write your code to display the plot here!